body {
    background-color: #75aaeb;
    /* color: rgb(49, 28, 9); */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


playfair-display-font{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.container {
    margin: 30px auto;
    max-width: 960px;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

header h1 {
    font-size: 1.8em;
    font-weight: normal;

}

p {
    line-height: 1.85em;
    text-indent: 50px;
    margin-bottom: 25px;
}

.no-bullet {
    list-style: none;
}

nav ul li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 1.8em;
}

nav ul li a:link{
    color: white;
}

nav ul li a:visited{
    color: white;
}
nav ul li a:hover{
    color: lightgray;
    background: #1a4f8f;
}   
nav ul li a:active{
    color: purple;
}